<style>
    html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
    }

    #map-canvas {
        width: 500px;
        height: 500px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script>
    function initialize() {
        var myLatlng = new google.maps.LatLng(<%=@job.job_location %>);
        var mapOptions = {
            zoom: 14,
            center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: "<%= @job.title %>"
        });

        var infowindow = new google.maps.InfoWindow({
            content: "<%= @job.title %>"
        });

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Uluru (Ayers Rock)'
        });
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
        });
    }


    google.maps.event.addDomListener(window, 'load', initialize);

</script>
<div id="map-canvas"></div>

<div>
  <%= @job.inspect %>
</div>
<%= link_to 'Pay', new_charge_path(job_id: @job.id) %>

<% unless @job.is_active %>

    <%= link_to 'Change it', edit_job_path(@job) %> or

    <br>
    <%= link_to 'Pay', new_charge_path(job_id: @job.id) %>
<% end %>

<div id="map-canvas"></div>
